// ESTILOS DE CONTENEDOR -----------------------------------------
.header{
    width: 100vw;
    height: $headerHeightMobile;

    background-color: $backgroundHeader;
    border-bottom: 1px solid $colorTheme4;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-bottom: 20px;

    @include mediaSize(tablet){
        height: $headerHeightTablet;
    }
    @include mediaSize(desktop){
        height: $headerHeightDesktop;
    }

}

// ESTILOS DE ELEMENTOS -------------------------------------------
