// ESTILOS DE CONTENEDOR -----------------------------------------
.main{
    width: 100%;
    background-color: $bacKgroundSection;
    height: $sectionHeightMobile;
    position: relative;


    @include mediaSize(tablet){
        height: $sectionHeightTablet;
        overflow: scroll;
    }
    @include mediaSize(desktop){
        height: $sectionHeightDesktop;
        overflow: scroll;
    }
}  

// ESTILOS DE ELEMENTOS -------------------------------------------
.mainBox{
    @include centerAll;
    width: 800px;
    height: 600px;
    background-color: $colorTheme5;
    box-shadow: 7px 7px 10px 7px $colorShadow;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 600px;
    overflow: hidden;
}