// BASIC COLORS
$colorWhite: #FFFFFF;
$colorMiddle: #292929;
$colorBlack: #000000;
$colorRed: #960200;
$colorTransparent: transparent;
$colorShadow: #5C5C5C;


// THEME COLORS
$colorTheme1: #426A5A;
$colorTheme2: #04151F;
$colorTheme3: #432534;
$colorTheme4: #FAFAFA;
$colorTheme5: $colorWhite;

// TEXT COLORS
$colorTextBase: $colorBlack;
$colorTextMiddle: $colorMiddle;
$colorTextLight: $colorWhite;
$colorTextAlert: $colorRed;

// FONTS
$fontExtra: 'Comfortaa', cursive;
$fontBase: 'Roboto', sans-serif;
$fontButton: $fontBase;

$fontExtraBold: 600;
$fontBold: 400;
$fontRegular: 300;

// BACKGROUNDS
$backgroundLanding: $colorTheme5;
$backgroundHeader: $colorTheme5;
$bacKgroundSection: $colorTheme4;
$backgroundFooter: $colorTheme5;

// MEASUREMENTS
// ---> Mobile:
    $landingBodyHeightMobile: calc(100vh - 65px);
    $footerHeightMobile: 65px;

    $headerHeightMobile: auto;
    $sectionHeightMobile: auto;

// ---> Tablet:
    $landingBodyHeightTablet: calc(100vh - 65px);
    $footerHeightTablet: 65px;

    $headerHeightTablet: 15vh;
    $sectionHeightTablet: 80vh;
// ---> Desktop:
    $landingBodyHeightDesktop: calc(100vh - 65px);
    $footerHeightDesktop: 65px;
    
    $headerHeightDesktop: 15vh;
    $sectionHeightDesktop: calc(85vh - 65px);
